<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">
                    <i class="material-icons"
                        style="color:blanchedalmond;font-weight: bold;font-size:25px;">menu_book</i>
                    <span style="color:white;font-weight: bold;font-size: 25px;">Bo</span><span
                        style="color:white;font-weight: bold;font-size:25px;">ok</span><sub
                        style="color:rgb(234, 133, 133);font-weight: bold;font-size: 25px;font-style: italic;">ify</sub>
                </a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/shops' ? 'active' : '' %>" href="/shops">Shop</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
            </li>
            <% if (isAuthenticated) { %>
                <li class="main-header__item">
                    <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
                </li>
                <% if (hasShop) { %>
                    <li class="main-header__item">
                        <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
                    </li>
                    <li class="main-header__item">
                        <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add
                            Product</a>
                    </li>
                    <li class="main-header__item">
                        <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin
                            Products</a>
                    </li>
                    <li class="main-header__item">
                        <a class="<%= path === '/admin/sales' ? 'active' : '' %>" href="/admin/sales">Sales</a>
                    </li>
                    <% } else { %>
                        <li class="main-header__item">
                            <a class="<%= path === '/admin/create-shop' ? 'active' : '' %>"
                                href="/admin/create-shop">Create Shop</a>
                        </li>
                        <% } %>
                            <% } %>
        </ul>
        <ul class="main-header__item-list">
            <% if (!isAuthenticated) { %>
                <li class="main-header__item">
                    <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
                </li>
                <% } else { %>
                    <li class="main-header__item">
                        <form action="/logout" method="post">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                    <% } %>
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/shops' ? 'active' : '' %>" href="/shops">Shop</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
        </li>
        <% if (isAuthenticated) { %>
            <li class="mobile-nav__item">
                <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
            </li>
            <% if (hasShop) { %>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add
                        Product
                    </a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
                    </a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/admin/sales' ? 'active' : '' %>" href="/admin/sales">Sales
                    </a>
                </li>
                <% } else { %>
                    <li class="mobile-nav__item">
                        <a class="<%= path === '/admin/create-shop' ? 'active' : '' %>" href="/admin/create-shop">Create
                            shop
                        </a>
                    </li>
                    <% } %>
                        <% } %>
                            <% if (!isAuthenticated) { %>
                                <li class="mobile-nav__item">
                                    <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                                </li>
                                <li class="mobile-nav__item">
                                    <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
                                </li>
                                <% } else { %>
                                    <li class="mobile-nav__item">
                                        <form action="/logout" method="post">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <button type="submit">Logout</button>
                                        </form>
                                    </li>
                                    <% } %>
    </ul>
</nav>

<!-- <style>
    .main-header{
        position: fixed;
        top: 0;
  left: 0;
  width: 100%;
  height:min-content;
    }
</style> -->