<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <style>
         .product__description 
         {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        .product__description-ellipsis {
            display: none;
        }

        .card {
            display: flex;
            flex-direction: column;
            width: 300px;
            margin: 10px;
        }

        .card__image {
            width: 100%;
            overflow: visible;
        }

        .card__image img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }

        .filter {
            margin-bottom: 100px;
        }

        main {
            padding-top: 60px;
        }

        .card__content {
            padding: 15px;
        }

        .card__actions
        {
            margin-top: auto;
        }

        .cart_genre {
            display: flex;
            gap: 10px;
        }

        .product__title {
            margin: 0;
            margin-bottom: auto;
            /* background-color: whitesmoke; */
        }

        .card__content {
            flex: 1;
            /* justify-content: bottom; */
        }

        .card__header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
        }
    </style>
    </head>
    <body>
        <%- include('../includes/navigation.ejs') %>
        <div class="filter">
        <form action="/search" method="GET" class="search">
          <div class="search-container">
            <select id="searchType" name="searchType">
                <option value="book" <% if (searchKind === 'book') { %>selected<% } %>>Book</option>
                <option value="author" <% if (searchKind === 'author') { %>selected<% } %>>Author</option>
                <option value="year" <% if (searchKind === 'year') { %>selected<% } %>>Year</option>
                <option value="category" <% if (searchKind === 'category') { %>selected<% } %>>Category</option>
              </select>

            <input type="text" id="search" name="q" placeholder="Search products">
            <button type="submit">
                <i class="ion-ios-search-strong"></i>
             </button>
            </div>
        </form>
        <form action="/products" method="GET" class="sort">
            <label for="sort">Sort By:</label>
            <select id="sort" name="sort" onchange="this.form.submit()">
              <option value="default" <% if (sortOption === 'default') { %>selected<% } %>>A-Z</option>
              
              <option value="za" <% if (sortOption === 'za') { %>selected<% } %>>Z-A</option>
              <option value="price-asc" <% if (sortOption === 'price-asc') { %>selected<% } %>>Price Ascending</option>
              <option value="price-desc" <% if (sortOption === 'price-desc') { %>selected<% } %>>Price Descending</option>
            </select>
            <input type="hidden" name="page" value="<%= currentPage %>">
        </form>
        </div>
            <main>
                <% if (prods.length > 0) { %>
                    <div class="grid">
                        <% for (let product of prods) { %>
                            <article class="card product-item">
                                <div class="card__image">
                                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                                </div>
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= product.title %>
                                    </h1>
                                </header>
                                <div class="card__content">
                                    <h2 class="product__price">$
                                        <%= product.price %>
                                    </h2>
                                    <p class="product__description">
                                        <%= product.description %>
                                    </p>
                                </div>
                                <div class="cart_genre">
                                    <i class="ion-edit pen-icon"> <%= product.authorName %></i>
                                    <i class="ion-android-apps apps-icon"> <%= product.category %></i>
                                </div>
                                <div class="card__actions">
                                    <a href="/products/<%= product.id %>" class="btn">Details</a>
                                    
                                    <% if (isAuthenticated) { %>
                                        <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                                    <% } %>

                                   <button class="btn" > <%=stock(product.quantity)%> </button>
                                </div>
                            </article>
                            <% } %>
                    </div>
                    <section class="pagination">
                        <% if (currentPage != 1 && previousPage != 1) { %>
                            <a href="?searchType=<%=searchKind%>&sort=<%=sortOption%>&page=1">1</a>
                        <% }%>
                        <% if (hasPrevPage) { %>
                            
                            <a href="?searchType=<%=searchKind%>&sort=<%=sortOption%>&page=<%=previousPage%>"><%=previousPage%></a>
                        <% }%>
                        <a href="??searchType=<%=searchKind%>&sort=<%=sortOption%>&page=<%=currentPage%>" class="active"><%=currentPage %></a>
                        <% if (hasNextPage) { %>
                            <a href="?searchType=<%=searchKind%>&sort=<%=sortOption%>&page=<%=nextPage%>"><%=nextPage %></a>
                        <% }%>
                        <% if (lastPage !== currentPage && nextPage !== lastPage) { %>
                            <a href="?searchType=<%=searchKind%>&sort=<%=sortOption%>&page=<%=lastPage%>"><%=lastPage %></a>
                        <% }%>
                    </section>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
                        <script>
                            document.addEventListener('DOMContentLoaded', function() {
                                var productDescriptions = document.querySelectorAll('.product__description');             
                                productDescriptions.forEach(function(description) {
                                    if (description.scrollHeight > description.clientHeight) {
                                        description.nextElementSibling.style.display = 'block';
                                    }
                                });
                            });
                        </script>
            </main>
            <%- include('../includes/end.ejs') %>