<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <div class="filter">

        <form action="/search" method="GET" class="search">
          <div class="search-container">
            
            
            <select id="searchType" name="searchType">
                <option value="book" <% if (searchKind === 'book') { %>selected<% } %>>Book</option>
                <option value="author" <% if (searchKind === 'author') { %>selected<% } %>>Author</option>
                <option value="year" <% if (searchKind === 'year') { %>selected<% } %>>Year</option>
              </select>

            <input type="text" id="search" name="q" placeholder="Search products">
            <button type="submit">
                <i class="ion-ios-search-strong"></i>
             </button>
            </div>
        </form>
        
         
        <form action="/products" method="GET" class="sort">
            <label for="sort">Sort By:</label>
            <select id="sort" name="sort" onchange="this.form.submit()">
              <option value="default" <% if (sortOption === 'default') { %>selected<% } %>>A-Z</option>
              
              <option value="za" <% if (sortOption === 'za') { %>selected<% } %>>Z-A</option>
              <option value="price-asc" <% if (sortOption === 'price-asc') { %>selected<% } %>>Price Ascending</option>
              <option value="price-desc" <% if (sortOption === 'price-desc') { %>selected<% } %>>Price Descending</option>
            </select>

            

             <!-- Add a hidden input to store the current page -->
            <input type="hidden" name="page" value="<%= currentPage %>">
        </form>
        </div>
            <main>
                <% if (prods.length > 0) { %>
                    <div class="grid">
                        <% for (let product of prods) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= product.title %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">$
                                        <%= product.price %>
                                    </h2>
                                    <p class="product__description">
                                        <%= product.description %>
                                    </p>
                                </div>
                                <div class="card__actions">
                                    <a href="/products/<%= product.id %>" class="btn">Details</a>
                                    <% if (isAuthenticated) { %>
                                        <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                                    <% } %>
                                </div>
                            </article>
                            <% } %>
                    </div>
                    <section class="pagination">
                        <% if (currentPage != 1 && previousPage != 1) { %>
                            <a href="?searchType=<%=searchKind%>&sort=<%=sortOption%>&page=1">1</a>
                        <% }%>
                        <% if (hasPrevPage) { %>
                            
                            <a href="?searchType=<%=searchKind%>&sort=<%=sortOption%>&page=<%=previousPage%>"><%=previousPage%></a>
                        <% }%>
                        <a href="??searchType=<%=searchKind%>&sort=<%=sortOption%>&page=<%=currentPage%>" class="active"><%=currentPage %></a>
                        <% if (hasNextPage) { %>
                            <a href="?searchType=<%=searchKind%>&sort=<%=sortOption%>&page=<%=nextPage%>"><%=nextPage %></a>
                        <% }%>
                        <% if (lastPage !== currentPage && nextPage !== lastPage) { %>
                            <a href="?searchType=<%=searchKind%>&sort=<%=sortOption%>&page=<%=lastPage%>"><%=lastPage %></a>
                        <% }%>
                        
                    </section>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>