<%- include('../includes/head.ejs') %>
    <style>
       @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

        *{
            font-family: 'Poppins', sans-serif;
            margin:0; padding:0;
            box-sizing: border-box;
            outline: none; border:none;
            text-decoration: none;
            text-transform: capitalize;
            transition: .2s linear;
        }

        .container{
            padding:15px 9%;
            padding-bottom: 100px;
        }

        .container .heading{
            text-align: center;
            padding-bottom: 15px;
            color:#000000;
            text-shadow: 0 5px 10px rgba(0,0,0,.2);
            font-size: 50px;
        }

        .container .box-container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
            gap:15px;
        }

        .container .box-container .box{
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
            border-radius: 5px;
            background: #fff;
            text-align: center;
            padding:30px 20px;
        }

        .container .box-container .box img{
            height: 180px;
            width: 120px;
        }

        .container .box-container .box h3{
            color:#444;
            font-size: 22px;
            padding:10px 0;
        }

        .container .box-container .box p{
            color:#777;
            font-size: 15px;
            line-height: 1.8;
        }

        .container .box-container .box .btnnn{
            margin-top: 10px;
            display: inline-block;
            background:#333;
            color:#fff;
            font-size: 17px;
            border-radius: 5px;
            padding: 8px 25px;
        }

        .container .box-container .box .btnnn:hover{
            letter-spacing: 1px;
        }

        .container .box-container .box:hover{
            box-shadow: 0 10px 15px rgba(0,0,0,.3);
            transform: scale(1.03);
        }

        @media (max-width:768px){
            .container{
                padding:20px;
            }
        }
    </style>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1><%= product.title %></h1>
            <hr>
            <div class="image_shop">
                <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
            </div>
            <!-- <h2><%= product.location %></h2>
            <p><%= product.description %></p> -->
        </main>
        <div class="container">

            <h1 class="heading">Featured Categories</h1>

            <div class="box-container">
                
                <a href="/products/fiction" class="box">
                    <img src="/image/fiction.jpg" alt="ok re">
                    <h3>Fiction</h3>
                    <p>Fiction is a literary genre characterized by imaginative or invented stories that are not based on real events, often exploring creative or speculative themes.</p>
                </a>
                
                <a href="/products/children" class="box">
                    <img src="/image/children.jpg" alt="">
                    <h3>Children's</h3>
                    <p>Stories crafted for young readers to entertain, educate, and inspire. They feature engaging narratives filled with creativity, designed to entertain and enlighten.</p>
                </a>
                
                <a href="/products/biography" class="box">
                    <img src="/image/bio.webp" alt="">
                    <h3>Biography & Memoir</h3>
                    <p>A factual account of a person's life, often highlighting their achievements and impact on society.</p>
                </a>
                
                <a href="/products/religion" class="box">
                    <img src="/image/religion.webp" alt="">
                    <h3>Religion</h3>
                    <p>Religious books are sacred texts that serve as the foundation for various faiths and provide guidance, beliefs, and practices for their respective religious communities.</p>
                </a>
                
                <a href="products/social-science" class="box">
                    <img src="/image/social.webp" alt="">
                    <h3>Social Science</h3>
                    <p>Delve into the intricacies of human society, shedding light on behaviors, cultures, and institutions.</p>
                </a>
                
                <a href="/products/history" class="box">
                    <img src="/image/history.jpg" alt="">
                    <h3>History</h3>
                    <p>History is the study of past events and the recording of human experiences, providing insights into the evolution of societies, cultures, and the world.</p>
                </a>
                
                <a href="/products/mystery-detective" class="box">
                    <img src="/image/mystery.webp" alt="">
                    <h3>Mystery & Detective</h3>
                    <p>Mystery and detective fiction is a genre of literature that revolves around solving puzzles, uncovering secrets, and solving crimes through the perspectives of detectives, amateur sleuths, or investigators, often involving suspense, clues, and unexpected twists.</p>
                </a>
                
                <a href="/products/young-adult" class="box">
                    <img src="/image/young.webp" alt="">
                    <h3>Young Adult</h3>
                    <p>It is a genre that targets adolescent readers, typically featuring protagonists of the same age group and exploring themes relevant to teenagers, such as identity, relationships, and coming-of-age experiences.</p>
                </a>
                
                <a href="/products/business" class="box">
                    <img src="/image/business.webp" alt="">
                    <h3>Business</h3>
                    <p>Get essential knowledge and strategies for success in the corporate world and entrepreneurial endeavors.</p>
                </a>
                
                <a href="/all" class="box">
                    <img src="/image/all.webp" alt="">
                    <h3>View All</h3>
                    <p>Is there anything specific you'd like to know more about or any other topic you're interested in?</p>
                </a>
                
        
            </div>
        
        </div>
        <%- include('../includes/end.ejs') %>
